name: Build & Push Frontend Image

on:
  push:
    branches:
      - main
    paths:
      - "**"

env:
  IMAGE: docker.io/naveensasalu/ai-kaayaka-frontend:latest

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push frontend
        run: |
          docker build \
          --build-arg NEXT_PUBLIC_API_URL="https://ai.kaayaka.in/api" \
          -t docker.io/naveensasalu/ai-kaayaka-frontend:latest .

          docker push docker.io/naveensasalu/ai-kaayaka-frontend:latest
